body {
    background-color: #ecfcf7;"

}

li{
    color:#6f4715;
   
}
p{
    color:#6f4715;  
}

th{
    
    color:#5e9393;
} 
td{
    color:#6f4715;
     
}

strong{
    color: #50504a;
}


  h1{
color:#5e9393;
  }
h4{
    color:#5e9393;
}
  hr{
    
    border-style:none;
    border-top-style: dotted;
    border-color:#c7f7e4f4;
    border-width: 5px;
    width: 10%;
  }
